* {
    box-sizing: border-box;
}

* {
    transition: all 0.3s linear;
}


/*my style*/

.container
{
    height: 300px;
    background: #34dfe3;
}

#header{
    background: url(../img/header/pictures_on_the_wall.jpg);
    overflow: hidden;
}